<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jokes</title>
    <link
      href="{{url_for('static', filename='css/style.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="clown">
        <form method="post">
          <input
            type="image"
            src="{{url_for('static', filename='img/clown.png')}}"
            alt="submit"
          />
        </form>
      </div>
      <div class="bubble">
        <div class="bubble-wrapper">
          <img
            src="{{url_for('static', filename='img/rectangular-speech-bubble.png')}}"
            alt="speech bubble"
          />
          <p class = "joke">
          {% if joke %}
            <span class="joke-setup">{{joke[0]}}</span><br><br>{{joke[1]}}
          {% else %} 
            Click the clown for a new joke! 
          {% endif %}
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
